div.root *{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.root{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header.head{
    width: 100vw;
    background: chartreuse;
    height: 20vh;
}
nav.nav{
    width: 100vw;
    background: chocolate;
    height: 10vh;
}
div.middle{
    display: flex;
    background: coral;
    flex-direction: row;
}
section.main{
    width: 60vw;
    background: cornflowerblue;
    height: 60vh;
}
aside.aside{
    width: 40vw;
    background: crimson;
    height: 60vh;
}
footer.footer{
    width: 100vw;
    background: darkgoldenrod;
    height: 10vh;
}